@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack
            Orientation="Orientation.Horizontal"
            AlignItems="AlignItems.Center"
            Gap="0">
            <RadzenSidebarToggle Click="@(() => _navMenuExpanded = !_navMenuExpanded)"/>
            <RadzenLabel Text="ExpenseExplorer"/>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@_navMenuExpanded">
        <NavMenu/>
    </RadzenSidebar>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<RadzenComponents @rendermode="InteractiveServer" />
@code {
    bool _navMenuExpanded = true;
}