@page "/"
@using System.Globalization
@inject IStringLocalizer<Home> Loc
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<ul>
    <li><b>CurrentCulture</b>: @CultureInfo.CurrentCulture</li>
    <li><b>CurrentUICulture</b>: @CultureInfo.CurrentUICulture</li>
</ul>

<h2>Greeting</h2>

<p>
    @Loc["Welcome"]
</p>

Welcome to your new app.