<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <PublishProvider>FileSystem</PublishProvider>
        <PublishDir>bin\publish\</PublishDir>
        <WebPublishMethod>FileSystem</WebPublishMethod>
        <_TargetId>Folder</_TargetId>
        <SiteUrlToLaunchAfterPublish />
        <TargetFramework>net8.0</TargetFramework>
        <ProjectGuid>06afc684-838e-4914-8b7b-87bcd95df9de</ProjectGuid>
        <SelfContained>false</SelfContained>
    </PropertyGroup>
</Project>
