@using ExpenseExplorer.Application
@inject DialogService DialogService

@code {
    internal async Task<Unit> OpenAsync(string message)
    {
        _ = InvokeAsync(async () =>
        {
            await Task.Delay(2000);
            DialogService.Close();
        });

        MarkupString content = (MarkupString)$"<p class='markup'>{message.Replace(Environment.NewLine, "<br>")}</p>";
        await DialogService.OpenAsync("", _ =>
        {
            return b =>
            {
                b.OpenElement(0, "RadzenRow");
                b.OpenElement(1, "RadzenColumn");
                b.AddAttribute(2, "Size", "12");
                b.AddContent(3, content);
                b.CloseElement();
                b.CloseElement();
            };

        }, new DialogOptions
        {
            ShowTitle = false,
            Style = "min-height:auto;min-width:auto;width:auto",
            CloseDialogOnEsc = false
        });

        return Unit.Instance;
    }
}