name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  DOTNET_VERSION: "10.x"

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        
    - name: Restore
      run: dotnet restore ExpenseExplorer.slnx

    - name: Build
      run: dotnet build ExpenseExplorer.slnx --configuration Release --no-restore

    - name: Test
      run: dotnet test ExpenseExplorer.slnx --configuration Release --no-restore --no-build

  deploy-to-pi:
    needs: build-and-test
    runs-on: self-hosted

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Deploy with Docker Compose
      run: docker compose up -d --build

